.gradient-custom-3 {

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(0, 0, 0, 0.5)rgba(77, 77, 77, 0.5)5)

}

.gradient-custom-4 {

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: #5f9efc;
color: rgb(255, 255, 255);

}

.gradient-custom-4:hover{

    background-color: #3866ff;
    transition: 0.3s;
}

